# <span style="color:teal;">CIS 211 Project 7:  SQLite</span>

##### Due 11:00 P.M. Tuesday Mar 7

This project will give you some experience writing database queries in SQL and connecting to a SQLite database from Python.

### <span style="color:teal">Setup</span>

Download the Sakila database (the file named `sakila211.db`) and move it to the same folder as this IPython notebook.

### <span style="color:teal">Executing Queries in an IPython Notebook</span>

To solve the problems in the first two sections of this project you need to write a SQL query based on the tables in the Sakila211 database.  

To execute a query from an IPython Notebook write the query in quotes as part of a shell command:
```
! sqlite3 sakila211.db "..."
```

For example, to answer the question "What are the names and ratings of the films" your code cell would have
```
! sqlite3 sakila211.db "select title, rating from film"
```

Some of the queries will produce a lot of output.  You can add a `LIMIT` clause to any query if you want to reduce the size of the output.

**Note:** &nbsp; Your grade will not depend on the output format.  If want to have a nicer looking output that includes column headers create a file named `.sqliterc` in your home folder and add these two lines:
```
.header on
.mode column
```

## <span style="color:teal">Part 1:  &nbsp; Queries</span>

The following questions can all be answered using records from a single table.

(1) What are the first and last names of all the customers?

In [ ]:
! sqlite3 sakila211.db "SELECT first_name, last_name FROM customer"

(2) What are the e-mail addresses of customers whose first name is “Willard”?

In [ ]:
! sqlite3 sakila211.db "SELECT email FROM customer WHERE first_name = 'Willard'"

(3) How many customers are there?

In [ ]:
! sqlite3 sakila211.db "SELECT count(*) FROM customer"

(4) How many customers shop at store number 1?

In [ ]:
! sqlite3 sakila211.db "SELECT count(*) FROM customer WHERE store_id = '1'"

(5) How much does it cost to rent the film named “Virtual Spoilers”?

In [ ]:
! sqlite3 sakila211.db "SELECT rental_rate FROM film WHERE title = 'Virtual Spoilers'"

(6) Do any films have the word “Princess” in the title?

In [ ]:
! sqlite3 sakila211.db "SELECT title FROM film WHERE title LIKE '%Princess%'"

(7) What are the titles of the films that are longer than 180 minutes?

In [ ]:
! sqlite3 sakila211.db "SELECT title FROM film WHERE length > '180'"

(8) How many films have a “G” rating and are less than 60 minutes long?

In [ ]:
! sqlite3 sakila211.db "SELECT count(*) FROM film WHERE length < '60' AND rating = 'G'"

(9) What is the maximum replacement cost for any film?

In [ ]:
! sqlite3 sakila211.db "SELECT max(replacement_cost) FROM film"

(10) Print a table that lists the different types of ratings and the number of films that have that rating.

In [ ]:
! sqlite3 sakila211.db "SELECT rating, count(title) FROM film GROUP BY rating"

## <span style="color:teal">Part 2: &nbsp; Joins</span>

The following queries all require a join of two or more tables. As a hint for how to create the query the table names are shown next to each a question.

(11) What are the film IDs of movies starring Jude Cruise?  &nbsp; &nbsp; [`actor`, `film_actor`]

In [ ]:
! sqlite3 sakila211.db "SELECT film_id FROM film_actor JOIN actor USING (actor_id) \
                        WHERE first_name = 'Jude'and last_name = 'Cruise'"

(12) What language was “Ace Goldfinger” filmed in?  &nbsp; &nbsp; [`film`, `language`]

In [ ]:
!sqlite3 sakila211.db "SELECT name FROM language JOIN film USING (language_id) WHERE title = 'Ace Goldfinger'"

(13) How many actors starred in the film named “Scalawag Duck”? &nbsp; &nbsp; [`film`, `film_actor`]

In [ ]:
!sqlite3 sakila211.db "SELECT count(actor_id) FROM film_actor JOIN film USING (film_id) WHERE title = 'Scalawag Duck'"

(14) Produce a table that shows how many films each customer has rented.  &nbsp; &nbsp; [`customer`, `rental`]

In [ ]:
!sqlite3 sakila211.db "SELECT first_name, last_name, count(*) FROM customer JOIN rental USING (customer_id) \
GROUP BY first_name, last_name"

(15) How many films did the customer named Smith rent?  &nbsp; &nbsp; [`customer`, `rental`]

In [ ]:
!sqlite3 sakila211.db "SELECT count(*) FROM customer JOIN rental USING (customer_id) WHERE last_name = 'Smith' \
GROUP BY first_name, last_name"

(16) Which actors starred in “Splash Gump”?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [ ]:
!sqlite3 sakila211.db "SELECT first_name, last_name FROM actor JOIN film_actor USING (actor_id) \
JOIN film USING (film_id) WHERE title = 'Splash Gump'"

(17) Which films has Penelope Guiness starred in?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [ ]:
!sqlite3 sakila211.db "SELECT title FROM film JOIN film_actor USING (film_id) JOIN actor USING (actor_id)\
WHERE first_name = 'Penelope' and last_name = 'Guiness'"

(18) What are the names of the films rented by the customer named Knight?  &nbsp; &nbsp; [`customer`, `rental`, `inventory`, `film`]

In [ ]:
!sqlite3 sakila211.db "SELECT title FROM film JOIN inventory USING (film_id) JOIN rental USING (inventory_id)\
JOIN customer USING (customer_id) WHERE last_name = 'Knight'"

## <span style="color:teal">Part 3: &nbsp; Monthly Report</span>

For this part of the project you will write a report generator that will print a summary of monthly activity for a customer.  The report should show a list of all the films rented during the month along with a total amount due.
This example shows the activity for the customer named Leo Ebert for the month of June, 2005.

<pre>
--- Sakila DVD Rentals ---

Monthly Report for Leo Ebert 

Lonely Elephant                 06/16/2005    $2.99
                   ** late fee  06/24/2005    $2.99
Enemy Odds                      06/18/2005    $4.99
                   ** late fee  06/27/2005    $4.99
Song Hedwig                     06/20/2005    $0.99
                   ** late fee  06/26/2005    $0.99
Wash Heavenly                   06/21/2005    $4.99
Hurricane Affair                06/21/2005    $2.99

Monthly Total:  $25.92
</pre>

To compute the total, the report generator needs to add up all the rental fees, and for any film returned late, add an additional rental fee as the late charge. In the example, Leo rented *Lonely Elephant* on June 16 but didn’t return it until June 24. It was a 3-day rental, so he was charged an additional \$2.99 (it was 5 days late, so we could have charged him \$4.98 in late fees, but we’ll keep it simple and just charge the basic fee as the late fee).

We've broken the problem into separate parts so they can be implemented and tested separately.  Your job is to fill in the code cells so each part passes the auto-grader tests.

**Note:** &nbsp; There is no documentation requirement for this project.

### <span style="color:teal">Database Connection</span>

To simplify the code for this program you can define the database connection as a global variable.  The following code cell imports the libraries you need and defines the database connection.

In [ ]:
from sqlite3 import connect

db = connect('sakila211.db')

### <span style="color:teal">Dates</span>

Dates in a SQLite database are stored as strings.  The function below uses a Python library named `datetime` to parse a date string and return a string that can be printed as part of the report.  Read the online documentation for the `datetime` module if you want to learn more about date formats and functions that parse and format dates.

**Note:** &nbsp; The format string is a global variable -- you can use this same format in your function that checks to see if a CD is overdue.

In [ ]:
from datetime import datetime

date_format = "%Y-%m-%d %H:%M:%S.%f"

def mmddyyyy(date):
    d = datetime.strptime(date, date_format)
    return '{:02d}/{:02d}/{:02d}'.format(d.month, d.day, d.year)

In [ ]:
assert mmddyyyy('2005-02-26 20:59:35.000') == '02/26/2005'

### <span style="color:teal">Customer Name</span>

Fill in the definition of the `customer_name` function.  It will be passed a string with a last name, and it should return a list of tuples of the form `(first, last)` with the first and last names of all customers with the same last name.  If there are no customers with that name the list should be empty.

In [ ]:
def customer_names(s):
    query = "SELECT first_name, last_name FROM customer WHERE last_name LIKE ?"
    result = db.execute(query, (s,))
    return list(result)

In [ ]:
customer_names('ebert')

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [ ]:
assert customer_names('ebert') == [('Leo', 'Ebert')]

In [ ]:
assert customer_names('smith') == [('Mary', 'Smith')]

In [ ]:
assert customer_names('turing') == []

### <span style="color:teal">Film List</span>

Fill in the body of the `film_list` function so it returns a list of all CDs rented by a customer during a specified month. 
The parameters that will be passed to the function are the customer's last name (a string) and the month and year (both integers).  Return a list of tuples that have the following values, in the order shown:
* film title
* rental rate (how much it costs to rent the CD)
* rental date (the date the CD was rented)
* return date (the date the CD was returned)
* rental duration (the number of days the CD can be out before a late fee is charged) 

All of the information you need can be retrieved with a single query that joins the rental, inventory, film, and customer tables. Note that this is the same query used to answer Question 19 above, except with different column names.

**Hint:** &nbsp; The dates in the database are strings.  Think about pattern matching when you write the WHERE clause that specifies the date range.

In [ ]:
def film_list(name, month, year):
    q = "SELECT title, rental_rate, rental_date, return_date, rental_duration FROM film \
    JOIN inventory USING (film_id) JOIN rental USING (inventory_id) \
    JOIN customer USING (customer_id) WHERE last_name LIKE ? AND rental_date LIKE ? AND return_date LIKE ?"
    fmt = '%{}-{:02d}%'.format(year, month)
    r = list(db.execute(q, (name, fmt, fmt)))
    return r

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [ ]:
leo = film_list('Ebert', 6, 2005)
assert len(leo) == 5
assert leo[0] == (('Lonely Elephant', 2.99, '2005-06-16 20:59:35.000', '2005-06-24 15:31:35.000', 3))

In [ ]:
mary = film_list('Smith', 8, 2005)
assert len(mary) == 11
assert mary[0] == ('Adaptation Holes', 2.99, '2005-08-01 08:51:04.000', '2005-08-10 12:12:04.000', 7)

### <span style="color:teal">Overdue CDs</span>

To decide whether a CD was returned late you need to subtract the rental date from the return date and see if the difference is greater than the rental duration. The easiest way to do this is to use Python’s `datetime` library.

Using a call to `strptime` (see the body of the `mmddyyyy` function defined above) create `datetime` objects for the rental date and the return date. Then subtract the rental date from the return date to get a `timedelta` object:
```
    diff = returned - rented
```
Now you can get attributes of the object named `diff` to tell you how far apart the dates were, for example `diff.days` will tell you the time difference in days.

Fill in the body of the `overdue` function.  The parameters are a rental date, a return date, and the rental duration.  Return TRUE if the CD was not returned or if the number of days it was checked out is greater than the rental duration.

In [ ]:
def overdue(rent_date, return_date, duration):
    fmt = "%Y-%m-%d %H:%M:%S.%f"
    rented = datetime.strptime(rent_date,fmt)
    returned = datetime.strptime(return_date,fmt)
    diff = returned - rented
    if diff.days > duration:
        return True
    return False

In [ ]:
assert overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:35.000', 2)

In [ ]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-17 20:59:35.000', 2)

In [ ]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:34.000', 2)

### <span style="color:teal">Report Generator</span>

Fill in the body of the function named `sakila_report` so it prints a monthly report.  The arguments passed to the function will be a customer's last name (a string) and a month and year (both integers).

If the customer is not in the database, or if there are two customers with the same last name, return None.  Otherwise print a list of films and late fees and the total amount due.

You can format the report however you would like, as long as the following items appear somewhere in the output:
* every fee should be printed with a dollar sign and an amount, for example `$2.99` or `25.92`
* the total amound due should be printed on a line that includes the word `"Total"` followed by a dollar amount on the same line

In [ ]:
def sakila_report(customer, month, year):
    names = customer_names(customer)
    if len(names) == 0 or len(names) == 2:
        return None
    lst = film_list(customer, month, year)
    print("Monthly report for {} {}\n".format(names[0][0], names[0][1]))
    
    count = 0
    for x in lst:
        count += x[1]
        print("{:30s} {:25s} ${}".format(x[0], x[2], x[1]))
        if overdue(x[2], x[3], x[4]):
            count += x[1]
            print ("{0:>30s} {1:25} ${2}".format('**late fee', x[3], x[1]))
    print("Monthly Total: ${:02g}".format(count))

##### <span style="color:red">Tests</span>

You can use code cells in this section (and add more if you wish) to test your functions.

##### <span style="color:red">Autograder Tests</span>

The tests for the `sakila_report` function will call the function and while using the IPython `capture` command to save everything the function prints.  We'll then use a function that counts the number of times a dollar amount (from either a rental fee or a late fee) occurs and make sure the total amount is the expected value.

**Do not edit, copy, or delete these cells.**

In [ ]:
import re

def check_report(text, expected_count, expected_total):
    nums = []
    for line in text.split('\n'):
        has_total = re.search(r'Total.*(\$\d+\.\d\d)', line)
        if has_total:
            assert has_total.group(1) == expected_total
        else:
            for s in re.findall(r'\$\d+\.\d\d', line):
                nums.append(s)
    assert(len(nums) == expected_count)
    total = 0.0
    for s in nums:
        total += float(s[1:])
    assert(round(total,2)) == round(float(expected_total[1:]), 2)
    return True

In [ ]:
%%capture res
sakila_report('Ebert', 6, 2005)

In [ ]:
assert check_report(res.stdout, 8, '$25.92')

In [ ]:
%%capture res
sakila_report('Smith', 8, 2005)

In [ ]:
assert check_report(res.stdout, 15, '$32.85')

In [ ]:
%%capture res
sakila_report('Turing', 6, 2005)

In [ ]:
assert len(res.stdout) == 0

In [ ]:
sakila_report('Ebert', 6, 2005)